:root {
  --color-theme: #172659;
  --color-complementary: #ebbd44;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background: var(--color-theme);
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
}

a:link {
  color: var(--color-complementary);
}

a:active {
  color: var(--color-complementary);
}

a:visited {
  color: var(--color-complementary);
}
