.tab-manager {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
}


/* TAB MANAGER MENU  */

.tab-manager .tab-manager-menu {
  margin-bottom: 16px;
}

.tab-manager .tab-manager-menu button {
  color: grey;
  border: 1px solid transparent;
  background: transparent;
  ;
  transition: color 0.2s, border-bottom 0.2s;
}

.tab-manager .tab-manager-menu button+button {
  margin-left: 8px;
}

.tab-manager .tab-manager-menu button.active {
  color: white;
  border-bottom: 1px solid white;
}

.tab-manager .tab-manager-menu button:hover.active {
  color: white;
  border-bottom: 1px solid white;
}

.tab-manager .tab-manager-menu button:hover {
  color: var(--color-complementary);
  border-bottom: 1px var(--color-complementary) solid;
}


/* TABS INDIVIDUAIS */

.tab-manager .tab {
  width: auto;
  position: absolute;
  top: 36px;
  opacity: 0;
  transition: opacity 1s, top 0.3s;
}

.tab-manager .tab.active {
  display: block;
  opacity: 1;
  top: 26px;
}

.tab-manager .tab.transparent {
  opacity: 0;
}

.tab-manager .tab.hide {
  display: none;
}

.tab-manager .tab h3 {
  margin: 16px 0;
}

.tab-manager .tab p {
  margin: 16px 0;
}

.tab-manager .tab div li {
  list-style: none;
  /* https://stackoverflow.com/questions/4686754/making-every-character-on-a-web-page-the-same-width */
  /* https://stackoverflow.com/questions/10149330/force-non-monospace-font-into-fixed-width-using-css */
  font-variant-numeric: tabular-nums lining-nums;
}

.tab-manager .tab div li+li {
  margin-top: 8px;
}
